@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<EcommerceWeb.ViewModels.HoaDonVM>
@{
    ViewData["Title"] = "Đơn hàng";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col-1" class="text-center">Mã hóa đơn</th>
                        <th scope="col-1" class="text-center">Tên người nhận</th>
                        <th scope="col-1" class="text-center">Địa chỉ</th>
                        <th scope="col-1" class="text-center">Ngày đặt</th>
                        <th scope="col-1" class="text-center">Ngày giao dự kiến</th>
                        <th scope="col-1" class="text-center">Thanh toán</th>
                        <th scope="col-1" class="text-center">Phí vận chuyển</th>
                        <th scope="col-1" class="text-center">Trạng thái</th>
                        <th scope="col-4" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <p class ="text-center"> @Html.DisplayFor(modelItem => item.MaHd)</p>
                            </td>
                            <td>
                                <p class ="text-center"> @Html.DisplayFor(modelItem => item.HoTen)</p>
                            </td>
                            <td>
                                <p class ="text-center"> @Html.DisplayFor(modelItem => item.DiaChi)</p>
                            </td>
                            <td>
                                <p class="text-center"> @Html.DisplayFor(modelItem => item.NgayDat)</p>
                            </td>
                            <td>
                                <p class="text-center"> @Html.DisplayFor(modelItem => item.NgayGiao)</p>
                            </td>

                            <td>
                                <p class="text-center"> @Html.DisplayFor(modelItem => item.CachThanhToan)</p>
                            </td>
                            <td>
                                <p class="text-center"> @Html.DisplayFor(modelItem => item.PhiVanChuyen)</p>
                            </td>
                            <td>
                                <p class="text-primary text-center">@Html.DisplayFor(modelItem => item.TrangThai)</p>

                            </td>
                            <td>
                                <div class="text-center">
                                    <a asp-action="Detail" asp-route-id ="@item.MaHd" class="w-100 text-danger">Xem chi tiết</a>
                                </div>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
               {
                   LiElementClasses = new[] { "page-item d-inline-block" },
                   PageClasses = new[] { "page-link rounded" },
                   PreviousElementClass = "rounded",
                   NextElementClass = "rounded",
                   ActiveLiElementClass = "active",
                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                   DisplayLinkToLastPage = PagedListDisplayMode.Never,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always
               })
                </div>
            </div>
        </div>
    </div>
</div>
