 @using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<EcommerceWeb.Areas.Admin.Models.NhanVienAdminModel> 
@{
    ViewData["Title"] = "Danh sách nhân viên";

}
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Thông báo</h5>
            </div>
            <div class="modal-body text-start ">
                <span id="messageContent" class="text-success">@TempData["Message"]</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="container-fluid py-3">

    @await Html.PartialAsync("NhanVienItem", Model)

    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
       {
           LiElementClasses = new[] { "page-item d-inline-block" },
           PageClasses = new[] { "page-link rounded" },
           PreviousElementClass = "rounded",
           NextElementClass = "rounded",
           ActiveLiElementClass = "active",
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always
       })
        </div>
    </div>
</div> 
@section Scripts {
    <script>
        $(document).ready(function () {
            var messageElement = document.getElementById("messageContent");
            if (messageElement && messageElement.innerText.trim() !== "") {
                $('#messageModal').modal('show');
            }
        });
    </script>
}
@* <table class="table table-light text-start table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Mật khẩu</th>
            <th scope="col">Role</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nhanViens in Model)
        {
            <tr>
                <td>
                    <p class="mb-0 mt-4">@nhanViens.NhanVien.MaNv</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@nhanViens.NhanVien.HoTen</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@nhanViens.NhanVien.Email</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@nhanViens.NhanVien.MatKhau</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@nhanViens.</p>
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="NhanVien" asp-route-id="@nhanViens.NhanVien.MaNv" class="btn btn-success mt-4">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#delete_@nhanViens.NhanVien.MaNv">
                        <i class="bi bi-trash text-white"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table> *@