@model IEnumerable<EcommerceWeb.Areas.Admin.Models.NhanVienAdminModel>
<div class="text-center">
    <form asp-action="Search" asp-controller="NhanVien">
        <div class="mb-3 col-5" style="display: inline-flex">
            <input type="text" class="form-control" id="exampleInputEmail1" name="keyword" value="@ViewBag.CurrentFilter" placeholder="Tìm kiếm nhà cung cấp...">
            <button type="submit" class="btn btn-primary ms-lg-2"><i class="bi bi-search"></i></button>
        </div>
    </form>
</div>
<table class="table table-light text-start table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Tên nhân viên</th>
            <th scope="col">Email</th>
            <th scope="col">Xem</th>
            <th scope="col">Sửa</th>
            <th scope="col">Xóa</th>
            <th scope="col">Thêm</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p class="mb-0 mt-4">@item.MaNv</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.HoTen</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.Email</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.Xem</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.Sua</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.Xoa</p>
                </td>
                <td>
                    <p class="mb-0 mt-4">@item.Them</p>
                </td>
                <!-- Modal -->
                <div class="modal fade" id="delete_@item.MaNv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa !</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start">
                                Bạn muốn xóa "@item.HoTen" không?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark text-white" data-bs-dismiss="modal">Bỏ qua</button>
                                <a asp-action="Delete" asp-controller="NhaCungCap" asp-route-id="@item.MaNv" class="btn btn-primary text-white">
                                    Đồng ý
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <td>
                    <a asp-action="Edit" asp-controller="NhaCungCap" asp-route-id="@item.MaNv" class="btn btn-md rounded-circle bg-light border mt-4">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-md rounded-circle bg-light border mt-4" data-bs-toggle="modal" data-bs-target="#delete_@item.MaNv">
                        <i class="bi bi-trash text-danger"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>