@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<EcommerceWeb.ViewModels.HoaDonVM>
@{
    ViewData["Title"] = "Lịch sử đơn hàng";
}

<div class="container-fluid py-3">
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col" class="text-center">Họ tên</th>
                <th scope="col" class="text-center">Ngày đặt</th>
                <th scope="col" class="text-center">Địa chỉ</th>
                <th scope="col" class="text-center">Điện thoại</th>
                <th scope="col" class="text-center">Cách thanh toán</th>
                <th scope="col" class="text-center">Trạng thái</th>
                <th scope="col" class="text-center">Thao tác</th>
                <th scope="col" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p class="mb-0 mt-4"> @Html.DisplayFor(modelItem => item.MaHd)</p>
                    </td>

                    <td>
                        <p class="mb-0 mt-4 text-center"> @Html.DisplayFor(modelItem => item.HoTen)</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center"> @Html.DisplayFor(modelItem => item.NgayDat) </p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center"> @Html.DisplayFor(modelItem => item.DiaChi)</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center"> @Html.DisplayFor(modelItem => item.DienThoai)</p>
                    </td>
                    <td>
                        <p class="mb-0 mt-4 text-center"> @Html.DisplayFor(modelItem => item.CachThanhToan)</p>
                    </td>
                    <td>
                        @if(item.MaTrangThai != -1)
                        {
                            <p class="mb-0 mt-4 text-centeratio text-success"> @Html.DisplayFor(modelItem => item.TrangThai)</p>
                        }
                        else
                        {
                            <p class="mb-0 mt-4 text-center text-danger"> @Html.DisplayFor(modelItem => item.TrangThai)</p>
                        }
                        </td>
                    <td>
                        <a asp-action="ChiTietDonHang" class="text-decoration-none"><p class="text-primary mt-4 text-center text-decoration-none">Xem chi tiết</p></a>
                    </td>
                   
                </tr>

            }
        </tbody>
    </table>
    <div class="col-12">
        <div class="pagination d-flex justify-content-center mt-5">
            @Html.PagedListPager(Model, page => Url.Action("LichSu", new { page }), new PagedListRenderOptions
       {
           LiElementClasses = new[] { "page-item d-inline-block" },
           PageClasses = new[] { "page-link rounded" },
           PreviousElementClass = "rounded",
           NextElementClass = "rounded",
           ActiveLiElementClass = "active",
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always
       })
        </div>
    </div>
    <div class="text-center">
        <a asp-action="Index">Quay lại</a>
    </div>
</div>

